*{box-sizing: border-box;}

.sidebar {
    width: 260px;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.sidebar ul li {
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid #000;
    position: relative;
}

.sidebar ul li button {
    position: absolute;
    top: 0;
    right: 0;
}

.note {
    margin-left: 260px;
    border-left: 1px solid #000;
    min-height: 100vh;
    padding: 20px;
    position: relative;
}

.note textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 20px;
    font-family: inherit;
    font-size: inherit;
}

.note textarea:focus {
    outline: none;
}

.add-note {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.add-note button {
    font-size: 20px;
    padding: 15px 20px;
}