.sidebar {
    width: 260px;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.sidebar ul li {
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid #000;
}

.note {
    margin-left: 260px;
    border-left: 1px solid #000;
    min-height: 100vh;
    padding: 20px;
}